.foot {
    width: 100%;
    .top {
        background: #545758;
        height: 85px;
        .left {
            font-size: 20px;
            .cnt-left {
                margin-left: 10px;
                display: table-cell;
                vertical-align: middle;
                height: 85px;
                .icon-phoneF {
                    @include appicon(-263px, -8px, 33px, 33px);
                }
            }
            .cnt-right {
                padding-left: 10px;
                display: table-cell;
                vertical-align: middle;
                height: 85px;
                .child {
                    display: inline-block;
                    div:nth-child(1) {
                        color: $white-d3;
                    }
                    div:nth-child(2) {
                        color: $white-fe;
                    }
                }
            }
        }
        .right {
            padding-top: 52px;
            li {
                float: left;
                margin-left: 20px;
            }
            a {
                font-size: 12px;
                color: $white-d3;
            }
        }
    }
    .bottom {
        background: $borderBc;
        height: 62px;
        color: #565656;
        font-size: 12px;
        .left {
            @include clearfix;
            width: 190px;
            .icon-logoF {
                @include calc(margin-top, (62px - 23px) / 2);
                @include appicon(-312px, -7px, 25px, 23px);
            }
            .cnt-right {
                line-height: 62px;
            }
        }
        .right {
            line-height: 62px;
        }
    }
    .top,
    .bottom {
        display: block;
        width: 100%;
        section {
            width: 1080px;
            height: 100%;
            margin: 0 auto;
            @include clearfix;
            padding: 0 96px;
            .left,
            .right {
                height: 100%;
            }
        }
    }
}

.foot2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid $border;
    margin-top: 100px;
    height: 80px;
    font-size: 12px;
    color: $gray-56;
    ul {
        margin-top: 15px;
        width: 100%;
        text-align: center;
        li {
            margin: 0 10px;
            display: inline-block;
        }
    }
}
.foot3 {
    width: 100%;
    text-align: center;
    border-top: 1px solid $border;
    height: 80px;
    font-size: 12px;
    color: $gray-56;
    ul {
        margin-top: 15px;
        width: 100%;
        text-align: center;
        li {
            margin: 0 10px;
            display: inline-block;
        }
    }
}
.footNew{
    width: 100%;
    text-align: center;
    border-top: 1px solid $border;
    font-size: 12px;
    color: $black82;
    height: 50px;
    line-height: 50px;
    >div{
        width: 1080px;
        @include clearfix;
        display: inline-block;
    }
    ul{
        display: inline-block;
        @include clearfix;
        margin-left: -20px;
        >li{
            float: left;
            margin-left: 20px;
        }
    }
    .ulOne{
        float: left;
    }
    .ulTwo{
        float: right;
    }
}
